{include file="header.html" request=""}
        <ul class="download-list">
        {foreach $downloads as $link}  
            <li>  
                <a href="{$link.resLink}{if $link.extCode != ''}#{$link.extCode}{/if}" target="_blank">{$link.source}</a>
                {if $link.extCode != ''} <span class="link-ext-tip" title="{$link.extDesc}">{$link.extDesc}</span><span class="link-ext" title="{$link.extDesc}">{$link.extCode}</span> {/if}
            </li>  
        {/foreach}
        </ul>  
        {TONGJI}
    </body>
</html>