<!DOCTYPE HTML>
<html lang="zh_cn">
    <head>
        <title>{$title} - {$desc}</title>
        <mete charset="utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href="./css/view.css" rel="stylesheet" />
        <script src="./js/do.js" type="text/javascript"></script>
    </head>
    <body>
    <form action="#" method="get">
        <header>
            <div class="head-logo">
                <h1><a href="{LOCALHOST}">Resource Site</a></h1>
            </div>
            <div class="head-search">
                    <input type="search" name="s" id="search" value="{$search}"/>
                    <input type="submit" value="search" />
            </div>
        </header>
        <nav>
            <ul class="type-list">
                <li class="type-item {if $type == ''}type-curr{/if}">
                    <a href="?{if $search != ''}s={$search}&{/if}{if $tag != ''}k={$tag}&{/if}">News</a></li>
                {foreach $typelist as $name => $id}  
                <li class="type-item {if $type == $name}type-curr{/if}">
                    <a href="?{if $search != ''}s={$search}&{/if}{if $tag != ''}k={$tag}&{/if}t={$name}">{$name}</a>
                </li>
                {/foreach}
            </ul>
        </nav>