{include file="header.html" request="get"}
        <header>
            <div class="head-logo">
                <h1>
                    <a href="{LOCALHOST}">{$title}</a>
                    {if $isAdmin}
                    <a href="post.php" id="admin-post">+</a>
                    {/if}
                </h1>
            </div>
            <div class="head-search">
                <input type="search" name="s" id="search" value="{$search}" class="text"/>
                <input type="submit" value="➤" class="submit-btn"/>
            </div>
        </header>
        <nav>
            <ul class="type-list">
                <li class="type-item {if $type == ''}type-curr{/if}">
                    <a href="?{if $search != ''}s={$search}&{/if}{if $tag != ''}k={$tag}&{/if}">最新</a></li>
                {foreach $typelist as $name => $id}  
                <li class="type-item {if $type == $name}type-curr{/if}">
                    <a href="?{if $search != ''}s={$search}&{/if}{if $tag != ''}k={$tag}&{/if}t={$name}">{$name}</a>
                </li>
                {/foreach}
            </ul>
        </nav>
        <section class="res-list">
            {if $tag != '' || $search != ''}<h1>{if $tag != ''}标签：{$tag}{/if} {if $search != ''}关键字：{$search}{/if}</h1>{/if}
            {if count($res) > 0}
            {section name=item loop=$res}
            <article class="res-item">
                <header>
                    <h1 class="res-download" title="download {$res[item].name}">
                        <a href="download.php?id={$res[item].id}" target="_blank">{$res[item].name}</a>
                        {if $isAdmin}
                        <a href="post.php?id={$res[item].id}" class="admin-edit">✐</a>
                        {/if}
                    </h1>
                </header>
                <p class="res-desc">{$res[item].desc}</p>
                <footer>
                    <p class="res-tags">
                        {foreach $res[item].tags as $tagitem}  
                            <span>  
                                <a href="?{if $search != ''}s={$search}&{/if}{if $type != ''}t={$type}&{/if}k={$tagitem}">{$tagitem}</a>, 
                            </span>  
                        {/foreach}  
                    </p>
                </footer>
            </article>
            {/section}
            {else}
            <article class="res-item">
                <p class="res-desc">没有找到匹配的资源</p>
            </article>
            {/if}
            <article class="form-item">
                <input type="hidden" name="t" value="{$type}" />
                <input type="hidden" name="k" value="{$tag}" />
            </article>            
        </section>
{include file="footer.html" request="get"}